/Modelo Deep Learning/secret.py
/Cluster/secret.py
/Cluster/contaminacion.csv
/Cluster/Contar todo por cluster.sql
/Cluster/cantidad de registros en Imagenes Camara.sql
/Cluster/.ipynb_checkpoints/
/captura_camaras/Pipfile
/captura_camaras/Pipfile.lock
